body{
    background-color: rgb(8, 164, 236);
    color: white;
}
.btn_toggle{
    background-color: white;
    color: rgb(8, 164, 236);
}
canvas{
    border-radius: 10px;
}
#header{
    background-color: rgb(105, 188, 226);
    height: 50px;
}